# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

run/*
run/saves/devNormalTFC/*
!run/scripts
!run/saves/devNormalTFC/datapacks
!run/saves/devNormalTFC/datapacks/**

run-data

src/generated
src/test

*.py

# Files from Forge MDK
forge*changelog.txt

